<button class="border text-white font-bold font-montserrat text-xs px-6 py-3.5 md:px-10 tracking-wider hover:bg-white hover:text-black transition delay-150 duration-300 uppercase">
    <slot/>
</button>
