---

// IMPORT ASTRO ATOMS
import ButtonYellow from "@/atoms/atoms-nandini/buttons/yellow/index.astro"
import ButtonWhite from "@/atoms/atoms-nandini/buttons/white/index.astro"
import HeadingOne5xlWhite from "@/atoms/atoms-nandini/headings/one/5xl/white/index.astro"
import ParagraphBaseWhite from "@/atoms/atoms-nandini/paragraphs/base/white/index.astro"

// GET ASTRO PROPS
const {

    button_text1,
    button_text2,
    description,
    title,

} = Astro.props

---
<section class="justify-center py-20 bg-gradient-to-r from-emerald-950 from-10% via-slate-700 via-30% to-emerald-950 to-90%">
    <div class="flex flex-wrap gap-y-10 justify-center mx-10 md:mx-24 lg:mx-44 xl:mx-52 2xl:mx-80">
        <HeadingOne5xlWhite>{ title }</HeadingOne5xlWhite>
        <ParagraphBaseWhite>{ description }</ParagraphBaseWhite>
        <div class="flex flex-wrap justify-center gap-3 sm:flex sm:gap-2">
            <a href="/contact/">
                <ButtonYellow>{ button_text1 }</ButtonYellow>
            </a>
            <a href="/accelerated-land-loan/">
                <ButtonWhite>{ button_text2 }</ButtonWhite>
            </a>
        </div>
    </div>
</section>
