<button class="text-white bg-yellow-600 bg-opacity-45 font-montserrat text-xs tracking-wider hover:bg-white hover:text-black transition delay-150 duration-300 font-bold py-3.5 px-10 uppercase">
    <slot/>
</button>
